<!-- <div>
  <h1>Crear Usuario</h1>
  <form #userForm="ngForm" 
      (ngSubmit)=" createUser()">
    <label for="plate">Plate:</label>
    <input  formControlName="plate" type="plate" name="plate"  required>

    <label for="brand">Brand:</label>
    <input formControlName="brand" type="brand" name="brand"  required>

    <label for="name">Name:</label>
    <input formControlName="name" type="name" name="name"   required>
 
    <button type="submit">Crear Usuario</button>
  </form>
</div> -->

<div>
  <h1>Crear Usuario</h1>
  <form
  [formGroup]="data"
  (submit)="createUser(
  )">


    <label for="plate">Plate:</label>

    <input  formControlName="plate"    type="number" name="" id="plate" >




    <label      for="brand">Brand:</label>

    <input  formControlName="brand"    type="text" name="" id="brand" >

    <label     for="name">Name:</label>




    <input   formControlName="name"   type="text" name="" id="name">

    <button>Crear Usuario</button>
  </form>
</div>

<router-outlet></router-outlet>
