
<!--Crear Usuaruio-->
<!-- <h1 class="text-sm font-medium text-gray-900">hola</h1>
<div>
  <h1>Crear Usuario</h1>
  <form #createForm="ngForm"
  [formGroup]="data"
  (submit)="createcars(
  )">
     <label for="plate">Plate: </label>
     <input  formControlName="plate"    type="number" name="" id="plate" >
      <label      for="brand">Brand: </label>
     <input  formControlName="brand"    type="text" name="" id="brand" >
     <label     for="name">Name: </label>
     <input   formControlName="name"   type="text" name="" id="name">
     <button>Crear Usuario</button>
    </form>
  </div> -->




<card-cars class="md:w-1/4 sm:w-1/2" ></card-cars>




      
<router-outlet></router-outlet>
 
  



  <!-- <button (click)="getcars()">Obtener Todos los Vehículos</button> -->

  
  
  

    










